.html{
    height: 100%;
}
body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
header,footer{
    width: 100%;
}
.center_main{
    min-height:calc((100vh - 200px));
    display: grid;
    place-items: center;
}
#cart{
    height: 20px;
    width: 20px;
}
a{
    text-decoration: none;
}

input[type=number] {
  -moz-appearance: textfield;
}
td {
    vertical-align: center; 
}
.mob{
    margin:10px 0px;
}
.mr5{
    margin-right: 5%;
}
.ml5{
    margin-left: 5%;
}
.h120{
    height: 120px;
}
.w200{
    width:200px;
}
.nodata_message{
    margin:40px 0;color:crimson; width: 100%; text-align: center;
}
.vendor_img{
    width: 150px;height: 100%;
}
.filter_input{
    height:40px;width:100px;
}
#footer {
   margin-top: auto;
}
.card-img-top{
    height:200px;
    width: 200px;
}
.product_details_img{
    height: 300px;
    width: 300px;
}
.product_details_container{
    display: flex;
    flex-direction: column;
}
.w300{
    min-height: 300px;
    width: 300px;
}
.price{
    color: #f57224;
    font-size: 25px;
}
@media (min-width:991px) {
    .mob{
        margin: 0 10px;
    }
    #product_details_img{
        height: 300px;
        width: 300px;
    }
    .product_details_container{
        flex-direction: row;
    }
    .container{
        max-width: 900px;
    }
}
#error{
    color:crimson;
}
.w100{
    width:100px
}